<h3>HISTORIA INICIAL DEL VIDEOJUEGO SHOOTING STAR MAKER</h3>
<p>Nos llega un msj del futuro: pantalla, interferencia, mensaje pantalla negra, con voz en of diciendo:</p>
<p>“Es el año 2060..
La Tierra estas rodada de basura espacial, producida por colisiones de cohetes, naves, meteoritos
  y satélites inactivos que se acumularon a lo largo del tiempo.
</p>
<p>Los desechos son muy pequeño y viajan muy rápido dañando las naves y otros satélites. 
  Esto hizo que colapsen los sistemas de comunicación debido a las partículas reflectante 
  que tapan las lentes de los satélites y genera interferencias. 
  Por esto no tenemos, telecomunicación general (internet y GPS), ni información atmosférica. 
</p>
<p>Enviamos este pedido de de ayuda... 
Depende de ti prevenir este desastre.”
</p>
<p>(Empieza el juego)</p>
<p>Después de la alerta del futuro, crease la startup “Shooting Star Maker” a cual hace la limpieza del espacio, 
  y las empresas lanzadores de satélites te contratan para limpiar la órbita de basura nociva generando recursos 
  económicas y otra forma de juntar plata es vendiendo espectáculos de estrellas fugaces.</p>
<p>Después de la alerta del futuro, crease la startup “Shooting Star Maker” a cual hace la limpieza del espacio, 
  y las empresas lanzadores de satélites te contratan para limpiar la órbita de basura nociva generando recursos 
  económicas y otra forma de juntar plata es vendiendo espectáculos de estrellas fugaces.</p>
Así se lanza el "ROBOZITO 1.0" colector y eliminador de basura.  Tu misión es controlar este primer satélite, 
para un futuro generar una comunidad de satélites "ROBOZITOS" que procesen, reubiquen, destruyan, reciclan y 
utilizan como recurso económico.</p>
<p>Misión 1: Recolectar la basura de las órbitas más cercanas (LEO-Low Earth Orbit) y lanzarlas en atmósfera 
  para quemar de modo a mantenerse el ROBOZITO en órbita.</p>
<p>“En el año 2019,  son 500.000 piezas de satélites, naves y cohetes que totalizan 7.500 toneladas de basura 
  orbitando en el espacio distribuidas en 350.000 km de distancia. </p>
<p>Tu primer misión es interceptar las basuras en espacio desde la Orbita LEO (Low Earth Orbit) y dispararlas hacia la atmósfera 
  (incinerador) en el ángulo correcto para que se quemen y haga que el satélite colector ROBOZITO se mantenga en órbita. 
  Cuanto más basura se sacan más plata puedes juntarse ”</p>
<p>Demostración de juego: Mantenerse en órbita, porque el satélite colector ROBOZITO estas siempre bajando, 
  aprender a usar las redes para captar partículas (o sea a direccionar la red en ángulo correcto que lo mantenía en órbita), 
  se lanza la basura en ángulo incorrecto puede generar colisiones. </p>
<p>Demostración de juego: Mantenerse en órbita, porque el satélite colector ROBOZITO estas siempre bajando, 
  aprender a usar las redes para captar partículas (o sea a direccionar la red en ángulo correcto que lo mantenía en órbita), 
  se lanza la basura en ángulo incorrecto puede generar colisiones. </p>
<h3>Desafios del juego</h3>





