<nav class="navbar navbar-expand-md bg-blue navbar-blue">
  <a
    class="navbar-brand"
    routerLink="/">
    <img class="brand" src="./assets/images/SpaceAppsChallengeLP.png" alt="">
    {{ title }}
  </a>

  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleToolbar"
    (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div
    class="collapse navbar-collapse"
    id="collapsibleToolbar"
    [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/" class="nav-link">
          Inicio
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="game" class="nav-link">
          Jugar
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="about" class="nav-link">
          Sobre Nosotros
        </a>
      </li>
    </ul>
  </div>
</nav>
