<div class="row">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        ¡Oops!
      </h1>
      <h2>
        404 No Encontrado
      </h2>
      <p class="error-details">
        Lo sentimos, se ha producido un error. ¡No se encontró la página solicitada!
      </p>
      <div class="error-actions">
        <a routerLin="/" class="btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-home"></span>
          Llévame al Inicio
        </a>
      </div>
    </div>
  </div>
</div>
